<div class="backdrop" *ngIf="visible"></div>
<div class="modal" *ngIf="visible">
  <p class="title">Add Movie</p>
  <button class="absolute top right padded" (click)="close()">Close</button>
  <form #form="ngForm" (submit)="onSubmit(form)">
    <div class="field">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" ngModel required>
    </div>
    <div class="field">
      <label for="director">Director</label>
      <input type="text" id="director" name="director" ngModel required>
    </div>
    <div class="field">
      <label for="release">Release Date</label>
      <input type="text" id="release" name="release" ngModel required>
    </div>
    <button type="submit" class="submit">Add Movie</button>
  </form>
  <pre *ngIf="response">{{response | json}}</pre>
</div>
