<div class="flex center">
  <div class="card login center">
    <p class="title">Login</p>
    <div class="body">
      <form #form="ngForm" (submit)="onSubmit(form)">
        <div class="field">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" ngModel required>
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel required>
        </div>
        <button type="submit" class="submit">Login</button>
      </form>
    </div>
  </div>
</div>