.header {
  height: 40px;
  margin-bottom: 10px;
  position: relative;
  width: 80%;

  .lead {
    font-size: 18px;
    line-height: 40px;
    margin: 0;
  }
}

.spinner {
  margin-top: 150px;
}

.movies {
  list-style: none;
  padding: 0;
  width: 80%;

  .movie {
    background-color: #273650;
    border-bottom-right-radius: 3px;
    border-left: 4px solid #00b7ff;
    border-top-right-radius: 3px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: block;
    height: 80px;
    padding: 10px;
    position: relative;
    transition: border-width 200ms linear;

    &:hover {
      border-width: 8px;
    }

    & + .movie {
      margin-top: 10px;
    }

    .title,
    .episode,
    .director,
    .release {
      margin: 0;
    }

    .title {
      font-size: 18px;
    }

    .director,
    .release {
      color: #9f9f9f;
      font-size: 14px;
    }

    .episode {
      color: #00b7ff;
      font-weight: bold;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}