<div class="flex vertical center">
  <div class="header">
    <p class="lead">Your Movies</p>
    <button type="button" class="absolute top right" (click)="openMovieForm()">Add</button>
  </div>
  <svg class="spinner" *ngIf="loading" width="100px" height="100px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="background: none;"><path fill="none" d="M24.3,30C11.4,30,5,43.3,5,50s6.4,20,19.3,20c19.3,0,32.1-40,51.4-40 C88.6,30,95,43.3,95,50s-6.4,20-19.3,20C56.4,70,43.6,30,24.3,30z" stroke="#273650" stroke-width="4" stroke-dasharray="192.4416961669922 64.14723205566406"><animate attributeName="stroke-dashoffset" calcMode="linear" values="0;256.58892822265625" keyTimes="0;1" dur="1" begin="0s" repeatCount="indefinite"></animate></path></svg>
  <ul class="movies" *ngIf="!loading">
    <li *ngFor="let movie of movies" class="movie">
      <p class="title">
        {{ movie.title }}
        <span class="director">- {{ movie.director }}</span>
      </p>
      <p class="episode">#{{ movie.episode_id }}</p>
      <p class="release">{{ movie.release_date }}</p>
    </li>
  </ul>
</div>
<button class="fixed bottom left padded" (click)="logout()">Logout</button>
<app-movie-form #movieForm></app-movie-form>