@import url('https://fonts.googleapis.com/css?family=Roboto');

$background: #f2f2f2;
$primary: #273650;
$secondary: #00b7ff;
$text: #ffffff;

html,
body {
  background-color: $background;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

.flex {
  display: flex;
  height: 100%;

  &.center {
    align-items: center;
    justify-content: center;
  }

  &.vertical {
    flex-direction: column;
  }
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.absolute,
.fixed {
  &.bottom {
    bottom: 0;
  }

  &.left {
    left: 0;
  }

  &.top {
    top: 0;
  }

  &.right {
    right: 0;
  }

  &.padded {
    margin: 10px;
  }
}

.card {
  background-color: $primary;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 4px solid $secondary;
  color: $text;
  min-width: 500px;
  padding: 20px;

  .title {
    font-size: 22px;
    margin: 0;
  }

  .body {
    margin-top: 20px;
  }
}

form {
  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
      margin-bottom: 2px;
    }

    input {
      background-color: lighten($primary, 20%);
      border: none;
      border-bottom-right-radius: 3px;
      border-left: 4px solid $secondary;
      border-top-right-radius: 3px;
      color: $text;
      height: 30px;
      padding-left: 10px;

      &:focus {
        outline: none;
      }
    }
  }

  .submit {
    float: right;
  }
}

button {
  background-color: lighten($primary, 20%);
  border: none;
  color: $text;
  cursor: pointer;
  float: right;
  padding: 10px 20px;
  transition: background-color 200ms linear;

  &:hover {
    background-color: lighten($primary, 40%);
  }

  &:focus {
    outline: none;
  }
}

.backdrop {
  background-color: rgba(64, 64, 64, 0.6);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 998;
}

.modal {
  background-color: $primary;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 4px solid $secondary;
  color: $text;
  left: 50%;
  min-width: 600px;
  padding: 15px;
  position: fixed;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;

  .title {
    font-size: 18px;
    margin-top: 0;
  }
}